body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}
.navbar {
  display: flex;
  background-color: #f8f9fa;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
}
#tulis {
  padding: 0px 40px 0px 40px;
  background-color: transparent;
  font-family: Roboto, Noto, sans-serif;
  unicode-bidi: isolate;
  border-radius: 25px 0px 0px 25px;
  margin: 0px;
  white-space: nowrap;
  overflow-x: auto;
  font-size: 20px;
}
#cari-kata {
  padding-top: 0px;
  padding-bottom: 2px;
  border: 1px solid;
  border-radius: 0px 100px 100px 0px;
}
.input-navbar {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  background-color: transparent;
  border-color: transparent;
}

#gambarcari {
  border-radius: 0px 25px 25px 0px;
  padding-top: 5px;
}
#butkamera {
  width: 30px;
  height: 20px;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  padding: 0px;
  text-transform: var(--yt-button-text-transform, inherit);
}
#butlonceng {
  width: 30px;
  height: 30px;
  background-color: transparent;
  padding-right: 30px;
  border-color: transparent;
  cursor: pointer;
  text-transform: var(--yt-button-text-transform, inherit);
}
#kamera {
  width: 30px;
  height: 40px;
  align-items: center;
  justify-items: center;
  vertical-align: middle;
  line-height: 0;
}
#lonceng {
  width: 30px;
  height: 30px;
  align-items: center;
  justify-items: center;
  vertical-align: middle;
  line-height: 0;
}
#butmicro {
  width: 50px;
  height: 50px;
  border-color: transparent;
  cursor: pointer;
  border-radius: 25px;
  text-transform: var(--yt-button-text-transform, inherit);
}

#micro {
  width: 30px;
  height: 30px;
  align-items: center;
  justify-items: center;
  vertical-align: middle;
  line-height: 0;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  transition: width 0.3s;
  overflow: hidden;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
}

.sidebar a {
  text-decoration: none;
  color: white;
  display: block;
}

.content {
  margin-left: 0;
  transition: margin-left 0.3s;
  padding: 15px;
}

.sidebar.open {
  width: 250px;
}

.content.open {
  margin-left: 250px;
}
.container-fluid {
  margin: 0px;
}
.nav-item {
  margin: 0px;
}
.navbar-band {
  margin-top: 5px;
  justify-content: left;
  display: flex;
}
.login-container {
  background-color: #3498db;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  border: 2px solid #2980b9;
  margin: auto;
  width: 300px;
}

.login-container h2 {
  margin-bottom: 20px;
}
.btn.btn-outline-info {
  color: #333;
  border-color: red;
}
.navbaricon {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  background-color: transparent;
  border-color: transparent;
}
#tambah {
  margin-left: 0px;
  padding: 5px 20px;
  border-radius: 10px;
  border: 3px solid black;
}
#kurang {
  border-radius: 10px;
  padding: 5px 20px;
  border: 3px solid black;
}
#jumlahbarang {
  border-radius: 10px;
  padding: 5px 20px;
  border: 3px solid black;
  text-align: center;
}
.inbarang {
  margin-left: 5px;
  margin-bottom: 20px;
  border: 3px solid black;
  border-radius: 10px;
  padding-left: 10px;
  text-align: center;
}
.namabarang {
  margin-left: 5px;
  border: 3px solid black;
  margin-bottom: 20px;
  border-radius: 10px;
  padding-left: 10px;
  text-align: center;
}
.sudmit-barang {
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  border: 5px solid #2980b9;
  margin: auto;
  width: 400px;
}
.order {
  font-weight: 600;
  font-size: xx-large;
  margin-bottom: 20px;
}
.form-outline {
  margin-left: 5px;
  margin-bottom: 20px;
  border-radius: 10px;
  padding-left: 10px;
}
.form-label {
  color: red;
}
#floatingInput.form-control {
  width: 350px;
  height: 25px;
  margin: auto;
  font-size: 14px;
  border: 1px solid black; /* Garis di sekitar input field */
  border-radius: 10px;
  border-left-width: 0.5px; /* Sesuaikan dengan kebutuhan Anda */
  border-right-width: 0.5px; /* Sesuaikan dengan kebutuhan Anda */
}
.btn.btn-outline-secondary {
  border-width: 2px;
  border-color: black;
  color: black;
}
.btn.btn-primary {
  background-color: gray;
  border-color: gray;
}
.form-control {
  height: 50px !important;
  min-height: 50px !important;
}
.Barang {
  text-align: left !important;
  font-weight: bold !important;
}
.harga {
  text-align: left !important;
  font-weight: bold !important;
}
.category {
  text-align: left !important;
  font-weight: bold !important;
}
.btn.btn-primary.submit {
  background-color: #3498db;
  margin-top: 10px;
  border-radius: 10px;
}
.imagehome {
  text-align: center; /* Pusatkan gambar */
  margin-top: 20px;
  width: 100%; /* Sesuaikan dengan jarak atas yang diinginkan */
  height: 50px;
}
.imagehome img {
  max-width: 100%; /* Agar gambar tidak melebihi lebar container */
  object-fit: cover;
}
.imagehome-small {
  height: 50%; /* Sesuaikan dengan tinggi yang diinginkan */
}
.element-tumpang-tindih {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.rounded.float-start {
  width: 300px;
}
.rounded.float-end {
  width: 200px;
}

.card-counter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  width: 18rem; /* Sesuaikan sesuai kebutuhan */
  margin-bottom: 20px; /* Sesuaikan sesuai kebutuhan */
}
.card-img-top-1 {
  height: 450px;
}
.card-img-top-3 {
  height: 450px;
}
